<div>
  <div class="EveryTweet-status-text EveryTweet-text">
    <span class="EveryTweet-tweets-completed"></span> of <span class="EveryTweet-total-tweets"></span>
     - 
     Time remaining: <span class="EveryTweet-time-remaining"></span>
  </div>

  <div class="EveryTweet-progress-bar-outer">
    <div class="EveryTweet-progress-bar-inner"></div>
    <div class="EveryTweet-progress-percentage"></div>
  </div>
    <div id="EveryTweet-halt-button" class="EveryTweet-begin-button EveryTweet-button"> Halt </div>
</div>